{% extends "network/layout.html" %}

{% block body %}
<div class="container-fluid">
    <h1>All Posts</h1>

    {% if user.is_authenticated %}
    <div class="mb-3">
        <label for="post" class="form-label">New Post</label>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <textarea name="content" class="form-control" id="post" rows="3"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Post</button>
        </form>
    </div>

    <hr>

    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="bi bi-person-circle"></i> {{ post.user }}</h5>
            <p class="card-text px-5">{{ post.content }}</p>
        </div>
    </div>
    {% endfor %}

</div>

{% endif %}

{% endblock %}