{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    <h1>All Posts</h1>

    {% if user.is_authenticated %}
    <div class="mb-3">
        <label for="post" class="form-label">New Post</label>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <textarea name="content" class="form-control" id="post" rows="3"></textarea>
            <div class="mt-2 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </form>
    </div>

    <hr>

    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title col-10">
                    <a href="{% url 'profile' user_id=post.user.id %}" class="text-dark text-decoration-none">
                        <i class="bi bi-person-circle"></i>
                        {{ post.user }}
                    </a>
                </h5>
                {% if user == post.user %}
                <div class="d-flex justify-content-end col-2">
                    <button id="edit" data-post="{{ post.id }}" type="button"
                        class="button btn-link bg-transparent border-0">Edit</button>
                </div>
                {% endif %}
            </div>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date }}</h6>
            <p id="post-{{ post.id }}" class="card-text px-4">{{ post.content }}</p>
            <div class="d-flex justify-content-end">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-link"><i class="bi bi-hand-thumbs-up text-dark"></i></button>
                    <button type="button" class="btn btn-link"><i class="bi bi-hand-thumbs-down text-dark"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <nav class="d-flex justify-content-end mt-2">
        <ul class="pagination">
            {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endif %}

{% endblock %}