{% extends "auctions/layout.html" %}

{% block body %}
<h2>Create New Listings</h2>
<form action="{% url 'create_listing' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="Title">
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea class="form-control" name="description" id="description" rows="3"></textarea>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image URL:</label>
        <input type="url" name="image" class="form-control" id="image" placeholder="URL Address">
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="number" step="0.01" name="price" class="form-control" id="price" placeholder="Price">
    </div>

    <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <select class="form-select" name="category" id="category">
            {% for category in categories %}
            <option value="{{ category }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
{% endblock %}