{% extends "auctions/layout.html" %}

{% block body %}

<h2>Listing: {{ listing.title }}</h2>

<div class="mb-3">
    {% if user.is_authenticated %}
    {% if watchlist %}
    <form action="{% url 'remove_watchlist' listing_id=listing.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
    </form>
    {% else %}
    <form action="{% url 'add_watchlist' listing_id=listing.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Add to Watchlist</button>
    </form>
    {% endif %}

    {% endif %}
</div>


<img src="{{ listing.image }}" style="height: 400px;">
<h2>Details</h2>
<ul>
    <li>Price: ${{ listing.price }}</li>
    <li>Listed by: {{ listing.owner }}</li>
    <li>Category: {{ listing.category }}</li>
    <li>Description: {{ listing.description }}</li>
</ul>

{% endblock %}