{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    <div class="form-floating">
        <form action="{% url 'create' %}" method="POST">
            <input class="form-control" type="text" name="title" placeholder="Title" style="width: 60vw">
            <br>
            <textarea class="form-control" name="content" placeholder="Content" style="width: 60vw; height: 300px;"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

{% endblock %}