{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    <div class="form-floating">
        <form action="{% url 'create' %}" method="POST">
            <label for="floatingInput">Title: </label>
            <input type="text" name="title" placeholder="Title" id="floatingInput">
            <textarea name="content" placeholder="Content" style="width: 60vw; height: 300px;"
                class="form-control" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Content: </label>
            <br>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

{% endblock %}